@import '@/lib/reset.scss';

html, body, #root {
  @include rect(100%, 100%);
}

.foodBox {
  @include flexbox();
  @include flex-direction(column);
  @include rect (100%,100%);
  .foodheader {
    overflow: hidden;
    @include rect(100%, .64rem);
    display:flex;
    // flex-direction:row;
    // justify-content:space-between;
    background: url('../../assets/scenicheader.png');
    .goback {
      // line-height: .64rem;
      margin: .31rem 0 0 .17rem;
      float: left;
      @include rect(.19rem, .19rem);
      @include text-color(#fff);
    }
    .search {
      margin:.29rem 0 0 .23rem;
      width: 2.82rem;
      float: left;
      height: .27rem;
      border-radius: .2rem;
      border: .01rem solid #fff;
      input {
        @include rect(80%, 100%);
        background: transparent;
        border: none;
        color: #fff;
        margin-left: .1rem;
        line-height: .2rem;
        // border: .01rem solid #fff;
        &::placeholder {
          @include text-color(#fff);
        }
      }
      .foodsearch {
        // margin: .07rem 0 0 .09rem;
        font-size: .18rem;
        padding: .3rem 0 0 .09rem;
        color:#fff;
      }
    }
    // .godetail {
    //   line-height:44px;
    //   margin: 0 10px;
    // }
  }
  .content {
    @include flex();
    @include flex-direction(column);
    @include rect(90%,auto);
    margin: 0 auto;
    overflow: auto;
    .searchCondition {
      overflow: hidden;
      margin-top: .1rem;
      @include rect(100%, auto);
      .foodnav {
        overflow: hidden;
        text-align: center;
        li {
          margin:5px;
          float:left;
          &.all {
            @include rect(.39rem, .18rem);
            line-height: .18rem;
            font-size: .12rem;
            background: url('../../assets/bg.png') no-repeat;
            @include text-color(#fff);
          }
        }
      }
    }
  }
  .foodMain {
    margin: .14rem auto 0;
   .foodlist {
    @include rect(100%, auto);
    @include flexbox();
    border-bottom: 1px solid #eee;
    padding: .1rem 0;
    margin-bottom: .1rem;
     .fl-l {
        @include rect(.9rem, .9rem);
        img {
        @include rect(.9rem, .9rem);
        }
     }
     .flinfo{
       @include flex();
       margin-left:.1rem;
      @include rect(2.55rem,100%);
      .titlebox{
       @include rect(100%,.15rem);
       font-size: .12rem;
       line-height: .15rem;
        .titlename {
          float: left;
        }
        .count{
          float: right;
          @include background-color(#00cccc);
          @include text-color(#fff);
          line-height: .15rem;
          padding: 0 .03rem;
        }
      }
      .adv {
        @include text-color(#ccc);
        margin-top: .05rem;
      }
      .addressbox {
        @include rect(100%,.12rem);   
        margin-top: .12rem;
        line-height: .12rem;     
        .address {
          @include rect(40%,.10rem);
          font-size: .10rem;
          float: left;
          .icondizhi1 {
          font-size: .10rem;
          @include text-color(#00cccc);
          }
          .addressname {
          font-size: .10rem;
          @include text-color(#ccc);            
          }
        }
        .salenum{
          @include text-color(#ccc);  
          font-size: .1rem;
          float: right; 
          @include rect(30%,.1rem);
        }
      }
     }
   }
  }
}





