@import '@/lib/reset.scss';
* { touch-action: pan-y; } 
 html, body, #root, .container {
   @include rect(100%, 100%);
 }
 .container2 {
  @include flexbox();
  @include flex-direction(column);
  .homesearchbox {
    @include flex();
    @include rect(100%, auto);
    @include flexbox();
    @include flex-direction(column);
    @include overflow();
    .header {
      @include rect(100%, .6rem);
      @include flexbox();
      line-height: .6rem;
      // @include background-color(#4f8cff);
      // background:linear-gradient(90deg,#0af,#0085ff);
      .return {
        @include rect(.5rem, .6rem);
      }
      .searchbox {
        @include rect(100%, .3rem);
        @include flexbox();
        .searchl {
          @include rect(100%, .3rem);
          @include flexbox();
          border: 1px solid #ccc;
          div:nth-child(1) {

          }
        }
      }
       .ring{
        @include rect(.5rem, .6rem);
      }
      }
    }
 }