@import '@/lib/reset.scss';

html, body, #root, .box, .container2 {
  @include rect(100%, 100%);
}
.container2 {
  @include rect(100%, 100%);
  .registerbox {
    @include rect(90%, 100%);
    margin: 0 auto;
    .header{
      padding-top: .2rem;
      @include flexbox();
      @include rect(100%, .6rem);      
      .return{
      font-size: .3rem;
      @include text-color(#999);
      }
      .registertit{
        @include flex();
        text-align: center;
        line-height:.4rem;
        font-size: .18rem;
        margin-left: -.3rem;
        @include text-color(#333);
      }
    }
    .registerinfo{
      margin-top: .5rem;
      .areabox{
        @include rect(100%, .6rem);
        // @include flexbox();
        line-height: .6rem;
        border-bottom: 1px solid #ccc;
        span {
          &:nth-child(1){
            font-size: .14rem;
            float: left;
            text-indent: .1rem;
          }
        }
        .are-r {
          float: right;
          line-height: .6rem;
          span {
            &:nth-child(2){
              @include text-color(#666);
            }
          }
        }
      }
      .regphone{
        @include rect(100%, .6rem);
        line-height: .6rem;
        border-bottom: 1px solid #ccc;
        @include flexbox();
        .tell {
          @include rect(70%, .58rem);
          border: none;
          text-indent: .1rem;
          line-height: .58rem;
        }
        .onreg {
          @include text-color(#666);
        }
      }
      .code{
        @include rect(100%, .6rem);
        border-bottom: 1px solid #ccc;
        font-size: .14rem;
        border-bottom: 1px solid #ccc;
        input {
          @include rect(65%, .58rem);
          float: left;
          margin-left: .08rem;
        }
        .getcode {
          margin-top: .15rem;
          border-left: 1px solid #ccc;
          float: left;
          @include text-color(#666);
          font-size:.14rem;
          line-height: .26rem;
          text-indent: .1rem;
        }
      }
      .psd{
        @include rect(100%, .6rem);
        font-size: .14rem;
        border-bottom: 1px solid #ccc;
        input {
          @include rect(80%, .58rem);
          margin-left: .08rem;
        }
        .closeeye {
          margin-left: .2rem;
          }
      }
      .psdtips{
        margin-top: .1rem;
        @include rect(100%, auto);
        font-size: .06rem;
        @include text-color(#999);
        // letter-spacing: 0;
      }
      .checkboxinfo{
        margin-top: .2rem;
        font-size: .12rem;
        @include flexbox();
        @include rect(100%, .24rem);
        line-height: .24rem;
        .square {
          margin-right: .05rem;
          font-size: .14rem;
        }
      }
      .reg {
        margin-top: .3rem;
        background:url("../../assets/login.png");
        @include rect(100%, .38rem);
        text-align: center;
        @include text-color(#fff);
        line-height: .38rem;
        span {
          opacity: .6;
          font-size: .18rem;
        }
      }
    }
  }
}