@import '@/lib/reset.scss';


html, body, #root .bigbox{
  @include rect(100%, 100%);
}
.bigbox {
  @include flexbox();
  @include flex-direction(column);
  .header {
    overflow: hidden;
    width:100%;
    height:.64rem;
    background:url("../../assets/scenicheader.png") no-repeat;
    .goback {
      float: left;
      padding:.3rem 0 0 .17rem;
      color:#fff;
    }
    .search {
      margin: .29rem 0 0 .59rem;
      width: 2.82rem;
      height: .27rem;
      border-radius: .2rem;
      border: .01rem solid #fff;
      input {
        width:2rem;
        height: .2rem;
        background: transparent;
        border: none;
        color: #fff;
        // border: .01rem solid #fff;
      }
      .first {
        // margin: .07rem 0 0 .09rem;
        padding: .3rem 0 0 .09rem;
        color:#fff;
      }
      .cancel {
        float:right;
        margin: .03rem .13rem 0 0;
        font-size: .11rem;
        color:#fff;
      }
    }
  }
  .littlebox {
    @include flex();
    @include rect(100%, auto);
    @include overflow();
    .content {
      width:91%;
      padding-top:.21rem;
      height:1.7rem;
      display:flex;
      justify-content: space-around;
      margin:0 auto;
      border-bottom: .01rem solid #E5E5E5;
      .left {
        img {
          width:98px;
          height:104px;
          border-radius: .05rem;
        }
        .scenictitle{
          text-align: center;
          font: .12rem/.12rem "";
          margin-top: .12rem;
          color:#333333;
        }
      }
    }
    .nav {
      margin:.16rem 0 .08rem 0;
      @include flexbox();
      flex-direction: row;
      justify-content: space-around;
      text-align: center;
      .nav-l {
        @include flex();
        align-items:center;
        text-align: center;
        // justify-content: space-around;
        width:.7rem;
        height:.16rem;
        line-height: .16rem;
        .text {
          font-size:.11rem;
          color:#000000;
        }
          .nav-tu {
            font-size: .1rem;
          }
        // select {
        //   border:none;
        //   font-size:.11rem;
        //   color: #000;
        // }
      }
    }
    .main {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      .one{
        padding:.09rem .14rem;
        margin:0 .16rem;
        width:3.43rem;
        height:1.16rem;
        margin:0 auto;
        border-bottom:.01rem solid #ccc;
        @include flexbox();
        img{
         @include rect(.9rem,.9rem);
         margin-right:.13rem;
        }
        .explain1{
          @include flex();
          @include flexbox();
          @include flex-direction(column);
          .explain1-box{
            @include flex();
            @include rect(100%,auto); .scienictitle {
              font-size:0.12rem;
            }
            .ticket{
              font-size:.12rem;
              margin-top:.1rem;
              color:#CCCCCC
            }
            .middle {
              margin: 0 .05rem;
              color:#CCCCCC
            }
            .issue {
              font-size:.12rem;
              margin-top:.1rem;
              color:#CCCCCC
            }

          }

          .bottom1{
            @include rect(100%,.4rem);
            padding-top:.2rem;
            .price {
              font-size:.1rem;
              color:#CC3333;
              float:left;
            }
            .qi {
              margin-left:.02rem;
              font-size:.1rem;
              color:#CCCCCC;
              float:left;
           
            }
            .grae {
              margin: 0 .03rem 0 .3rem;
              width:.26rem;
              height:.15rem;
              background:#00cccc;
              float:left;
              border-radius: .05rem;
              font-size:.12rem;
              text-align: center;
              color:#fff;
            }
            .good {
              float:left;
              font-size:.12rem;
              color:#CCCCCC;
              display: inline-block;
            }
            .yue {
              float:right;
              font-size:.12rem;
              color:#CCCCCC;
            }
          }
          }
        }
      }
  }
}




