@import '@/lib/reset.scss';
 html, body, #root, .container {
   @include rect(100%, 100%);
 }
.container {
  @include flexbox();
  @include flex-direction(column);
  .strategybox {
    @include flex();
    @include rect(95%, auto);
    margin: 0 auto;
    @include flexbox();
    @include flex-direction(column);
    @include overflow();
    .searchbox {
      @include rect(100%, .3rem);
      @include background-color(#eee);
      margin-top: .1rem;
      @include flexbox();
      border-radius: .2rem;
      .search {
      @include rect(10%, .3rem);
      margin: .03rem 0 0 .1rem;
      }
      .inputbox {
      @include rect(70%, .3rem);
      line-height: .3rem;
      }
      margin-bottom: .2rem;
    }
    .strategynav {
      @include rect(80%, .4rem);
      line-height: .4rem;
      margin: 0 auto;
      @include flexbox();
      @include background-color(#eee);
      // @include text-color(#fff);
      text-align: center;
      overflow:hidden;
      border-radius: .2rem;
      .navl {
        @include flex();
      }
      .active {
        @include background-color(#00cccc);
      }
      .navr {
        @include flex();
      }
    }
    .strategycontent {
      .stobox {
        margin-top: .1rem;
        .stoboxli {
          .boxl {
            @include rect(35%, 1.2rem);
            float: left;
            @include background-color(#eee);
            position: relative;
            .stoimg {
            @include rect(1rem, 1rem);
            }
            .num{
            @include rect(.2rem, .2rem);
            position: absolute;
            top: 0;
            left: 0;
            }
          }
          .boxr {
            float: left;
            margin-left: .2rem;
            @include rect(55%, auto);
            .stobtitle {
               line-height: .25rem;
               font-size: .16rem;
            }
            .look{
              margin-top: .1rem;
              @include flexbox();
              .people{
                margin-left: 1.2rem;
              }
              .eye{
                @include text-color(#ccc);
              }
            }
            .time {
              margin-top: .1rem;
              @include flexbox();
            }
          }
        }
      }
      // 游友攻略
      .stpbox {
        margin-top: .1rem;
        .sttop {
          @include rect(100%, .4rem);
          border-top: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          line-height: .4rem;
          @include text-color(#666);
          .addressicon {
            @include rect(10%, .4rem);
            float: left;
            font-size: .2rem;
          }
          .hot {
            float: left;
            @include rect(15%, .5rem);
          }
          .bottomarrow {
            float: right;
            @include rect(20%, .5rem);
          }
        }
        .stcont{
          .head {
            @include rect(100%, .3rem);
            @include flexbox();
          }
          .userviews {
            .address {
              @include flexbox();
            }
            .viewcont {
              @include flexbox();
              @include rect(100%, auto);
              .book {}
              .viewwrite {}
            }
            .imgbox{}
          }
          .operation{
            border-top: 1px solid #ccc;
            @include flexbox();
            border-bottom: 1px solid #ccc;
            text-align: center;
            .relay {
              @include flex();
              @include text-color(#666);
              .rnum{
                margin-left: .1rem;
              }
            }
            .msg {
              @include flex();
              .mnum {
                margin-left: .1rem;
              }
            }
            .good{
              @include text-color(#666);
              @include flex();
              .gnum {
                margin-left: .1rem;
              }
            }
          }
        }
      }
    }
  }




}