@import '@/lib/reset.scss';
* { touch-action: pan-y; } 
 html, body, #root, .container {
   @include rect(100%, 100%);
 }
// .container {
//   @include flexbox();
//   @include flex-direction(column);
.footer {
  @include rect(100%, .53rem);
  @include background-color(#fff);
  border-top: 1px solid #ccc;
  ul {
    @include flexbox();
    @include rect(100%, 100%);
    a {
      margin-top: .02rem;
      @include flex();
      @include flexbox();
      @include rect(auto, 100%);
      @include flex-direction(column);
      @include justify-content();
      @include align-items();
      @include text-color(#333);
      .iconfont-home{
        background: url(./assets/footicon.png) no-repeat 0 -.02rem;
        display: inline-block;
        text-align: center;
        @include rect(.22rem,.3rem);
        background-size:1.25rem, .64rem;
        // background-image:;
        // background-position:;
      }
      &.active {
        .iconfont-home{
          background-position: 0 -.33rem
        }
      }
      .iconfont-stragety {
        background: url(./assets/footicon.png) no-repeat -.26rem -.02rem;
        display: inline-block;
        @include rect(.28rem,.28rem);
        background-size:1.25rem, .64rem;
      }
      &.active {
        .iconfont-stragety{
          background-position: -.27rem -.34rem
        }
      }
      .iconfont-find{
        background: url(./assets/footicon.png) no-repeat -.56rem -.02rem;
        display: inline-block;
        @include rect(.38rem,.28rem);
        background-size:1.25rem, .64rem;        
      }
      &.active {
        .iconfont-find{
          background-position: -.55rem -.33rem
        }
      }
      .iconfont-user{
        background: url(./assets/footicon.png) no-repeat -.94rem -.03rem;
        display: inline-block;
        background-size:1.25rem, .64rem;
        @include rect(.27rem,.27rem);
      }
      &.active {
        .iconfont-user{
          background-position: -.94rem -.34rem
        }
      }
      &.active {
        @include text-color(#00dbc2);
        // background-position: 0 -.3rem
      }
    }
  }
}
