@import '@/lib/reset.scss';

html, body, #root, .container2 {
  @include rect(100%, 100%);
}
// .container2 {
//   .box {
//     @include rect(80%, 100%);
//     margin: 0 auto;
//     // border: 1px solid #ccc;
//     .header {
//       @include background-color(#fff);
//       @include rect(100%, .4rem);
//       padding: .1rem 0 0 .1rem;
//       // span {
//       //   font-size: .16rem;
//       // }
//     }
//     .userlogo {
//       @include rect(100%, 1rem);
//       img {
//         display: block;
//         @include rect(1rem,1rem);
//         margin: 0 auto;
//         background-color:#eee;
//       }
//     }
//     .userinfo {
//       .tellreg {
//         text-align:center;
//         margin-top: .4rem;
//         display: block;
//         font-size: .20rem;
//         font-weight: 600;
//       }
//       .tellnum{
//         text-indent: .1rem;
//         display: block;
//         border: 1px solid #eee;
//         @include rect(100%, .6rem);
//         margin-top: .2rem;
//       }
//       .sendcode{
//         display: block;
//         border: 1px solid #eee;
//         @include rect(100%, .6rem);
//         text-indent: .1rem;
//         margin-top: .2rem;
//         text-align: center;
//         font-weight: 700;
//         background-color:green;
//         @include color(#fff);
//         &.dis{
//           @include background-color(darkseagreen);
//           @include color(#fff);
//         }
//       }
//       .writecode {
//         border: 1px solid #eee;
//         @include rect(100%, .6rem);
//         text-indent: .1rem;
//         margin-top: .2rem;
//         display: block;
//       }
//       .sendinfo{
//         @include background-color(#eee);
//         @include rect(100%, .6rem);
//         border: 1px solid #eee;
//         margin-top: .2rem;
//       }

//     }

//   }
// }